{{!-- views/auth/login.hbs --}}

    <h2 class="caption-login">Login</h2>
<div id="form-login">

    <form action="/login" method="POST">

        <div class="sort-auth-login">
        <label>Email
            <input type="email" name="email" placeholder="example@gmail.com" />
        </label>
    
       
        <label>Password
            <input type="password" name="password" placeholder="********" />
        </label>
        </div>
       

       <div class="button-auth-login">
        <button type="submit">Login</button>
        </div>

        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>