<h2 class="caption-signup">Signup</h2>
  <div id="form-signup">
  
    <form action="/signup" method="POST">
 
      <div class="sort-auth-signup">
      <label> Name
      <input type="text" name="name" placeholder="Enter name" />
      </label>
 
      <label> Email
      <input type="email" name="email" placeholder="example@gmail.com" />
      </label>
 
      <label> Password
      <input type="password" name="password" placeholder="********" />
      </label>
      </div>
 
      <div class="button-auth-signup">
      <button type="submit">Create account</button>
      </div>
 
    {{!-- error message will be added here --}}
  </form>
</div>