<h1 id="games-dashboard-title">Your Games!</h1>
 <div id="dashboard">

  {{#each creates}}
    <div class="dashboard-games">
      <img src="{{image}}" alt="test"/>
        <h3>{{title}}</h3>
         <div class="dashboard-button">
        <a href="/dashboard/{{_id}}">
        <button>See details</button>
        </a>
        <form class="delete-board" action="/dashboard/{{_id}}/delete" method="POST">
        <button>Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>





