@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  
}

body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/Cyslodia.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat
}

/* layout.hbs */
.header {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: left;
  color: white;
  margin-left: 15px
}

nav a {
  color: white;
  text-decoration: none;
}

.nav-links ul li {
  display: inline-block;
  align-items: center;
  margin-right: 15px;
  margin-top: 5px
}


@import url('https://fonts.googleapis.com/css?family=Shadows Into Light&display=swap');

/* Home Screen and about */
.fade-in-text {
  font-family: 'Shadows Into Light';
  font-size: 100px;
  animation: fadeIn 5s;
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home-caption {
  margin-top: 290px
}

/* Both details pages*/
#details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 220px
}

.details-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color:white;
}

.details-list img {
  height: 400px;
  width: 350px;
}

.details-text {
  max-width: 37%;
  max-height: 50%;
  justify-content: left;
  font-size: 19px
}

.detail-image{
  border-radius: 15px;
}

.details-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-video {
  display: flex;
  justify-content: center;
}


/* games/game-list.hbs */
#games-list-title {
  text-align: center;
  margin-top: 50px;
  color: white
}

#list {
  /*display: flex;
  flex-direction: row(3);
  flex-wrap: nowrap*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-games {
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list img {
  height: 250px;
  width: 250px;
  margin-top: 40px;
}

.list-games a {
  text-decoration: none;
  color: white
}

.list-games button {
  border: none;
  background-color: lightskyblue;
  color: white;
  cursor: pointer
}

.list-games a button {
  height: 40px;
  width: 90px;
  text-align: center;
}

.title-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

/* games/games-dashboard.hbs */
#games-dashboard-title {
  text-align: center;
  margin-top: 50px;
  color: white
}

#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-games {
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

#dashboard img {
  height: 250px;
  width: 250px;
  margin-top: 40px;
}

.dashboard-games a {
  text-decoration: none;
}

.dashboard-games button {
  border: none;
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
  margin: 0px 5px 0px 5px
}

.dashboard-games a button {
  height: 40px;
  width: 90px;
  text-align: center;
}

.dashboard-games form button {
  height: 40px;
  width: 90px;
  text-align: center
}

.dashboard-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px
}


/* admin/games-details.hbs */
.details-button button {
  display: flex;
  color: white;
  background-color: lightskyblue;
  border: none;
  height: 40px;
  width: 90px;
  cursor: pointer;
  justify-content: center;
  align-items: center
}

.details-button a {
  text-decoration: none;
}


/* admin/games-add.hbs */
#add-all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#add-all input, select {
  height: 40px;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid 2px rgba(122, 197, 248, 0.644);
  font-size: 19px
}

#add-all textarea {
  height: 80px;
  width: 49.6%;
  border-radius: 10px;
  margin-bottom: 15px;
  border: solid 2px rgba(122, 197, 248, 0.644);
  font-size: 19px
}

#add-all label {
  font-size: 20px;
  color: white;
}

/* The input has built in borders & padding which affect the size. Set those to 0 and the sizes match. Try padding: 0.4%; to the select box, that should make your select box equal to input box.. But as like other comments the input has built in borders and padding and hence it looks bigger than select*/
#add-all input, select, textarea, a, button {
  box-sizing: border-box
}

/* Didn't work for a long while. Close Visual Studio Code and use nodemon again to fix!*/
.submit-add {
  background-color: lightskyblue;
  color: white;
  margin-top: 20px
}
/* CSS Selector to only target placeholders*/


#genres {
  height: 100px;
  width: 35.2%
}

#genres option:disabled {
  color: gray;
}

#genres option {
  color: black
}

footer {
  background-color: black
}

.platforms {
  display: flex;
  color: white;
}

.platform {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

#add-all a {
  text-decoration: none;
}

#add-all button {
  border: none;
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
  margin: 0px 5px 0px 5px
}

#add-all a button {
  height: 40px;
  width: 400px;
  text-align: center;
}

.save {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px
}

/* signup.hbs */
.caption-signup {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 150px
}

#form-signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white
}

.sort-auth-signup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px
}

.button-auth-signup button {
  text-align: center;
  background-color: lightskyblue;
  color: white;
  border: none;
  border: 1px solid white;
  width: 700px;
  height: 30px;
  font-size: 20px
}

.sort-auth-signup input {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 700px;
  height: 30px
}

#form-signup label {
  font-size: 30px;
  text-align: center;
}


/* login.hbs */
.caption-login {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 250px
  }

#form-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white
}

.sort-auth-login {
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 15px;
margin-bottom: 25px
}

.button-auth-login button {
text-align: center;
background-color: lightskyblue;
color: white;
border: none;
border: 1px solid white;
width: 700px;
height: 30px;
font-size: 20px
}

.sort-auth-login input {
display: flex;
justify-content: center;
margin-bottom: 50px;
width: 700px;
height: 30px
}

#form-login label {
font-size: 30px;
text-align: center
}


/* profile.hbs */
.h3-profile {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 250px
}

#profile-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px
}

.form-group input {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 700px;
  height: 30px
}

#name {
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center
}

#email {
  margin-top: -15px;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center
}

#name:disabled, #email:disabled {
  background-color: transparent;
  border-color: transparent;
  color: white
}

#name:focus, #email:focus {
  background-color: transparent;
  border-color: transparent
}

#name:not(:disabled), #email:not(:disabled) {
  background-color: lightskyblue;
}

#container-profile button  {
  text-align: center;
  background-color: lightskyblue;
  color: white;
  border: none;
  border: 1px solid white;
  width: 700px;
  height: 30px;
  font-size: 20px;
  cursor: pointer
}

#container-profile a {
  text-decoration: none;
  color: white
}

#container-profile button:hover input:hover {
  box-shadow: 2px 2px 2px ;
}

#container-profile button:active input:active {
  box-shadow: 2px 2px 3px ;
}

