{{#if userInSession}}

<div id ="profile-div">

<h3 class="h3-profile">Profile</h3>

<form action='/profile/{{_id}}' method="post" enctype="multipart/form-data">

<div class="form-group">
<input id="username" type="text" >Name: {{ userInSession.username }}</input>
</div>

<div>
<input id="email" type="email" >Email: {{ userInSession.email }}</input>
</div>

<div id="container-profile">
<button type="submit" id="button-profile">Save</button>
</div>
</div>

</div>
</form>
{{else}}
   
 <br><p>Still no logged in user, sorry!</p>
    
    {{/if}}

    



